body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.imageContainer {
  width:200px;
  height:200px;
  background-image: url(https://images7.alphacoders.com/857/thumb-1920-857340.png);
}

